In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cherskiy,RU,2021-07-25 20:19:52,68.7500,161.3000,45.93,63,23,7.20
1,1,Bellevue,US,2021-07-25 20:22:15,47.6104,-122.2007,86.18,50,1,5.01
2,2,Barrow,US,2021-07-25 20:23:29,71.2906,-156.7887,44.62,92,90,12.66
3,3,Kapaa,US,2021-07-25 20:21:51,22.0752,-159.3190,82.72,79,75,1.99
4,4,Husavik,IS,2021-07-25 20:23:29,66.0449,-17.3389,60.71,64,100,6.26

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bellevue,US,2021-07-25 20:22:15,47.6104,-122.2007,86.18,50,1,5.01
3,3,Kapaa,US,2021-07-25 20:21:51,22.0752,-159.3190,82.72,79,75,1.99
8,8,Faanui,PF,2021-07-25 20:22:48,-16.4833,-151.7500,78.01,66,0,12.86
12,12,Nanchang,CN,2021-07-25 20:19:12,28.6833,115.8833,79.38,79,83,3.13
14,14,Butaritari,KI,2021-07-25 20:23:31,3.0707,172.7902,82.08,74,92,11.12
16,16,Port Blair,IN,2021-07-25 20:18:42,11.6667,92.7500,82.17,86,100,16.60
17,17,Sanchor,IN,2021-07-25 20:23:31,24.7553,71.7722,83.77,79,100,15.95
18,18,Kathu,TH,2021-07-25 20:23:32,7.9178,98.3332,86.70,78,100,13.02
35,35,Atuona,PF,2021-07-25 20:22:17,-9.8000,-139.0333,77.97,69,68,22.95
38,38,Parsabad,IR,2021-07-25 20:23:35,39.6482,47.9174,79.12,78,0,9.22

In [19]:
preferred_cities_df.count()

City_ID       209
City          209
Country       209
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1     Bellevue      US     86.18  47.6104 -122.2007
3        Kapaa      US     82.72  22.0752 -159.3190
8       Faanui      PF     78.01 -16.4833 -151.7500
12    Nanchang      CN     79.38  28.6833  115.8833
14  Butaritari      KI     82.08   3.0707  172.7902
16  Port Blair      IN     82.17  11.6667   92.7500
17     Sanchor      IN     83.77  24.7553   71.7722
18       Kathu      TH     86.70   7.9178   98.3332
35      Atuona      PF     77.97  -9.8000 -139.0333
38    Parsabad      IR     79.12  39.6482   47.9174

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bellevue,US,86.18,47.6104,-122.2007,The Westin Bellevue
3,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Faanui,PF,78.01,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
12,Nanchang,CN,79.38,28.6833,115.8833,Gloria Plaza Hotel Nanchang
14,Butaritari,KI,82.08,3.0707,172.7902,Isles Sunset Lodge
16,Port Blair,IN,82.17,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
17,Sanchor,IN,83.77,24.7553,71.7722,Hotel Amar Palace & AC Restaurant
18,Kathu,TH,86.70,7.9178,98.3332,Novotel Phuket Resort
35,Atuona,PF,77.97,-9.8000,-139.0333,Villa Enata
38,Parsabad,IR,79.12,39.6482,47.9174,Peacock Hotel Magi

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))